
<launch>
  <arg name="record" default="false"/>

  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
   <arg name="world_file" value="$(find enigma)/world/custom_world"/>
  </include>

  <node name="enigma_node" pkg="enigma" type="enigma_node" output="screen"/>

  <node name="record" pkg="rosbag" type="record" args="--duration=35.0 -a -x /camera/(.*) -O $(find enigma)/result/walker.bag" if="$(arg record)"/>

</launch>
